:root {
  --black-500: #000000;
  --white-500: #ffffff;
  --grey-500: #969696;
  --orange-500: #ff8b17;
  --orange-600: #ff6c17;
  --red-500: #f01111;
  --blue-500: #35a7ff;
  --violet-500: #aaa7ff;
}